<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        Mes licornes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <div style="margin-right:auto;margin-left:auto">
        <span matBadge="{{like}}" matBadgeOverlap="false">Unicorn-land</span>
      </div>
      <button mat-flat-button>Déconnexion</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<uni-unicorn-list></uni-unicorn-list>

<!--<uni-unicorn-card [unicorn]="unicorn1" (displayAlert)="logMessage($event)"></uni-unicorn-card>-->
